
{% extends 'layout.html' %}

{% block content %}
    
        <!-- Add your content here, within the background rectangle -->
        
        <!--{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}-->


    
{% endblock content %}

