{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Choose Your Registration</h1>
        <div class="btn-container">
            <!-- Traveler Registration Button -->
            <div class="register-btn">
                <img src="{{ url_for('static', filename='traveler.jpg') }}" alt="Traveler Image">
                <a href="{{ url_for('main.traveler_register') }}" class="btn btn-primary">Register as Traveler</a>
            </div>

            <!-- Tour Guide Registration Button -->
            <div class="register-btn">
                <img src="{{ url_for('static', filename='tourguide.jpg') }}" alt="Tour Guide Image">
                <a href="{{ url_for('main.tourguide_register') }}" class="btn btn-success">Register as Tour Guide</a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

